docker~=5.0.2
fastapi~=0.68.1
pydantic~=1.8.2
aiofiles~=0.7.0
uvicorn
sqlalchemy
aiosqlite
databases
pytest
pytest-asyncio
httpx
python-jose[cryptography]
passlib[bcrypt]
slowapi
email-validator
python-multipart